body {
    background-color: #464747;
    color: black;
}

h1 {
    color: whitesmoke;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 100;
}

a {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: lightgrey;
    font-size:large;
    text-decoration: none;
}

a:hover{
    color: dimgray;
}

.page-header{
    text-align: center;
    margin-top: 3rem;
}

main {
    display: flex;
    justify-content: center;
    background-color: dimgray;
    margin-top: 3rem;
    margin-left: 25%;
    margin-right: 25%;
    padding: 2rem;
}

th, td {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: whitesmoke;
    font-weight: 100;
}